
.center{
     left: 50%;
     top: 35%;
     transform: translate(-50%, -50%);
     position: absolute;
     // background-color: #fff;
     // margin: 30px auto;
     min-width: 90%;
     // max-width: 300px;
     h3{
          font-size: 22px;
          color: #fff;
          text-align: left;
          padding-left: 13px;
     }
}
.btn{
     background-color: #f74508;
    padding: 15px;
    border-radius: 22px;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    margin: 20px auto 10px auto;
    width: 100%;
    text-transform: uppercase;
 
}
ion-item{
     background-color: transparent !important;
     color: #fff;
}
ion-title{
     color: #fff;
}
.result{
     color: #fff;
     position: absolute;
     top: 15%;
     left: 0px;
     right: 0px;
     text-align: center;
     font-size: 24px;
     font-weight: bold;
}
.cal-img{
     width: 26px;
     position: relative;
     top: -3px;
     left: -1px;
}
.head-img{
     width: 25px;
     position: relative;
     top:4px;
}
.pr-6{
     padding-right: 6px;
}
.lc-img{
     img{
          padding: 10px;
          margin-top: 20px;
          position: fixed;
          bottom: 15%;
     }
     
}